body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
table,
td,
th {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

th,
td {
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.mapboxgl-popup-content {
  border-radius: 15px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-center .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  display: none !important;
}

.popup-icons {
  bottom: 10px;
}

.disabled-button {
  -webkit-filter: opacity(0.3) drop-shadow(0 0 0 #fff);
  filter: opacity(0.3) drop-shadow(0 0 0 #fff);
  pointer-events: none !important;
  cursor: not-allowed !important;
}

.hidden-button {
  display: none !important;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
* {
  font-family: "San Francisco" !important;
}

/* Loading Screen */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loader-div {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.loader {
  position: relative;
  width: 10vw;
  height: 5vw;
  padding: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader span {
  position: absolute;
  height: 0.8vh;
  width: 0.8vh;
  border-radius: 50%;
  background-color: #ff0;
}

.loader span:nth-child(1) {
  animation: loading-dotsA 0.5s infinite linear;
}

.loader span:nth-child(2) {
  animation: loading-dotsB 0.5s infinite linear;
}

@keyframes loading-dotsA {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(2vw);
  }
  50% {
    transform: none;
  }
  75% {
    transform: translateY(2vw);
  }
  100% {
    transform: none;
  }
}

@keyframes loading-dotsB {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(-2vw);
  }
  50% {
    transform: none;
  }
  75% {
    transform: translateY(-2vw);
  }
  100% {
    transform: none;
  }
}

// Display a cross with CSS only.
//
// $size  : px or em
// $color : color
// $thickness : px
@mixin cross($size: 20px, $color: currentColor, $thickness: 1px) {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: $size;
  height: $size;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: ($size - $thickness) / 2;
    left: 0;
    right: 0;
    height: $thickness;
    background: $color;
    border-radius: $thickness;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  span {
    display: block;
  }
}

// Example 1.
.btn-close {
  position: absolute;
  left: -5px;
  top: -5px;
  margin: 0;
  border: 0;
  padding: 0;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #f64900;
  width: 20px;
  height: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;

  .icon-cross {
    @include cross(10px, #000, 2px);
  }

  &:hover,
  &:focus {
    transform: rotateZ(90deg);
  }
}
